<!DOCTYPE html>
<html lang="fr">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../css/style.css">
	<link rel="stylesheet" href="../css/style_a_propos_de_moi.css">
    <title>Gauthier Vadot</title>
    <script src="https://code.jquery.com/jquery-3.5.1.js"></script>
</head>
<body>
<div>
	<svg version="1.1" class="phone" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px"
	 viewBox="0 0 408 845" style="enable-background:new 0 0 408 845;" xml:space="preserve">
		<path class="phone--body" d="M363.5,9.5c18.3,0,33.3,14.9,33.3,33.3v723.5c0,18.3-14.9,33.3-33.3,33.3H42c-18.3,0-33.3-14.9-33.3-33.3
			V42.8C8.8,24.5,23.7,9.5,42,9.5H363.5 M363.5-0.5H42C18.2-0.5-1.2,19-1.2,42.8v723.5c0,23.8,19.5,43.3,43.3,43.3h321.5
			c23.8,0,43.3-19.5,43.3-43.3V42.8C406.8,19,387.3-0.5,363.5-0.5L363.5-0.5z"/>
		<path class="phone--screen" d="M372.8,78.5v620h-340v-620H372.8 M382.8,68.5h-360v640h360V68.5L382.8,68.5z"/>
	</svg>
	<h1>TOURNER VOTRE ECRAN</h1>
</div>
    <header class="cd-header">
		<div class="header-wrapper">
			<div class="logo-wrap">
				<a href="../index.html" class="hover-target"><img src="../media/logo.png" alt="logo"></a>
			</div>
			<div class="nav-but-wrap">
				<div class="menu-icon hover-target">
					<span class="menu-icon__line menu-icon__line-left"></span>
					<span class="menu-icon__line"></span>
					<span class="menu-icon__line menu-icon__line-right"></span>
				</div>					
			</div>					
		</div>				
	</header>
	<div class="nav">
		<div class="nav__content">
			<ul class="nav__list">
				<li class="nav__list-item active-nav"><a href="../index.html" class="hover-target">Accueil</a></li>
				<li class="nav__list-item"><a href="./a_propos_de_moi.html" class="hover-target">À PROPOS DE MOI</a></li>
				<li class="nav__list-item"><a href="./competences.html" class="hover-target">COMPÉTENCES</a></li>
				<li class="nav__list-item"><a href="./projets.html" class="hover-target">PROJETS</a></li>
            	<li class="nav__list-item"><a href="./contact.html" class="hover-target">CONTACT</a></li>
			</ul>
		</div>
	</div>


  <main>
      <section class="about section " id="about">
                <h2 class="section-title">À PROPOS DE MOI</h2>

                <div class="about__container bd-grid">
                    <div class="about__img">
                        <img src="https://pbs.twimg.com/media/FeuzC6RXgAA7j91?format=jpg&name=large" alt=""><br>
                        <a href="../media/CV_Gauthier_VADOT_2022.pdf" target="_blank">Télécharger mon CV</a><br><br>
                    </div>
                    
                    <div>
                        <h2 class="about__subtitle">Bonjour, moi c'est Gauthier Vadot !</h2>
                        <p class="about__text">Graphiste, je suis né le 13 mai 2002 à Dijon.</p>
                        <br>     
                        <p class="about__text">Étudiant en BUT MMI (Métier du Multimédia et de l’Internet), je possède un Baccalauréat Scientifique spécialité Sciences de la Vie et de la Terre option Informatique et Sciences du Numérique.</p>
                        <br>
                        <p class="about__text">Je possède bon nombre de compétences en design graphique, audio-visuel, communication, informatique ainsi qu’en retouche d’images. Mais cela, je vous l’expliquerais plus en détail dans la section « Compétences » et dans mon CV…</p>
                        <br>
                        <p class="about__text">Cette page est seulement dédiée à l’histoire de MA VIE.</p>
                        <br>
                        <p class="about__text">Comme dit précédemment, je suis né et vis actuellement à Dijon, mais ça ne m’empêche pas de voyager !</p>
                        <p class="about__text">Je peux me permettre d’aller de ville en ville, donc je ne m’en prive pas !</p> 
                        <p class="about__text">Je suis très sociable, mais sais également m’isoler lorsque cela est nécessaire.</p>
                        <p class="about__text">J’aime lire et particulièrement des mangas. Je profite aussi de mon temps libre pour dessiner ou regarder des séries.</p>
                        <br>
                        <p class="about__text">Voici un rapide aperçu de qui je suis, et espère vous avoir intéressé.</p>     
                    </div>                                   
                </div>
            </section>
  </main>
    <footer>
        <div>
            <a href="./mentions_legales.html">Mentions légales</a>
            <a href="./politique.html">Politique de confidentialité</a>
        </div>
    </footer>


  <script src="../js/index.js"></script>
	<script src="../js/a_propos_de_moi.js"></script>
</body>
</html>
