<!DOCTYPE html>
<html lang="fr">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../css/style.css">
	<link rel="stylesheet" href="../css/style_competences.css">
    <title>Gauthier Vadot</title>
    <script src="https://code.jquery.com/jquery-3.5.1.js"></script>
</head>
<body>
<div>
	<svg version="1.1" class="phone" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px"
	 viewBox="0 0 408 845" style="enable-background:new 0 0 408 845;" xml:space="preserve">
		<path class="phone--body" d="M363.5,9.5c18.3,0,33.3,14.9,33.3,33.3v723.5c0,18.3-14.9,33.3-33.3,33.3H42c-18.3,0-33.3-14.9-33.3-33.3
			V42.8C8.8,24.5,23.7,9.5,42,9.5H363.5 M363.5-0.5H42C18.2-0.5-1.2,19-1.2,42.8v723.5c0,23.8,19.5,43.3,43.3,43.3h321.5
			c23.8,0,43.3-19.5,43.3-43.3V42.8C406.8,19,387.3-0.5,363.5-0.5L363.5-0.5z"/>
		<path class="phone--screen" d="M372.8,78.5v620h-340v-620H372.8 M382.8,68.5h-360v640h360V68.5L382.8,68.5z"/>
	</svg>
	<h1>TOURNER VOTRE ECRAN</h1>
</div>

    <header class="cd-header">
		<div class="header-wrapper">
			<div class="logo-wrap">
				<a href="../index.html" class="hover-target"><span>le</span>logo</a>
			</div>
			<div class="nav-but-wrap">
				<div class="menu-icon hover-target">
					<span class="menu-icon__line menu-icon__line-left"></span>
					<span class="menu-icon__line"></span>
					<span class="menu-icon__line menu-icon__line-right"></span>
				</div>					
			</div>					
		</div>				
	</header>
	<div class="nav">
		<div class="nav__content">
			<ul class="nav__list">
				<li class="nav__list-item active-nav"><a href="../index.html" class="hover-target">Accueil</a></li>
				<li class="nav__list-item"><a href="./a_propos_de_moi.html" class="hover-target">À PROPOS DE MOI</a></li>
				<li class="nav__list-item"><a href="./competences.html" class="hover-target">COMPÉTENCES</a></li>
				<li class="nav__list-item"><a href="./projets.html" class="hover-target">PROJETS</a></li>
            	<li class="nav__list-item"><a href="./contact.html" class="hover-target">CONTACT</a></li>
			</ul>
		</div>
	</div>
	
	<main>
		<section class="skills section" id="skills">
                <h2 class="section-title">COMPÉTENCES</h2>

                <div class="skills__container bd-grid">          
                    <div>
                        <h2 class="skills__subtitle">Compétences professionnelles</h2>
                        <p class="skills__text">Les pourcentages de ma progression dans la maîtrise des différentes compétences :</p>
                        <div class="skills__data">
                            <div class="skills__names">
                                <i class='bx bxl-html5 skills__icon'></i>
                                <span class="skills__name">RETOUCHE D'IMAGES</span>
                            </div>
                            <div class="skills__bar skills__retouche">

                            </div>
                            <div>
                                <span class="skills__percentage">70%</span>
                            </div>
                        </div>
                        <div class="skills__data">
                            <div class="skills__names">
                                <i class='bx bxl-css3 skills__icon'></i>
                                <span class="skills__name">CREATION D'IMAGES</span>
                            </div>
                            <div class="skills__bar skills__creation">
                                
                            </div>
                            <div>
                                <span class="skills__percentage">85%</span>
                            </div>
                        </div>
                        <div class="skills__data">
                            <div class="skills__names">
                                <i class='bx bxl-javascript skills__icon' ></i>
                                <span class="skills__name">CMS</span>
                            </div>
                            <div class="skills__bar skills__cms">
                                
                            </div>
                            <div>
                                <span class="skills__percentage">70%</span>
                            </div>
                        </div>
						<div class="skills__data">
                            <div class="skills__names">
                                <i class='bx bxl-javascript skills__icon' ></i>
                                <span class="skills__name">HTML5</span>
                            </div>
                            <div class="skills__bar skills__html">
                                
                            </div>
                            <div>
                                <span class="skills__percentage">80%</span>
                            </div>
                        </div>
						<div class="skills__data">
                            <div class="skills__names">
                                <i class='bx bxl-javascript skills__icon' ></i>
                                <span class="skills__name">CSS3</span>
                            </div>
                            <div class="skills__bar skills__css">
                                
                            </div>
                            <div>
                                <span class="skills__percentage">70%</span>
                            </div>
                        </div>
						<div class="skills__data">
                            <div class="skills__names">
                                <i class='bx bxl-javascript skills__icon' ></i>
                                <span class="skills__name">JAVASCRIPT</span>
                            </div>
                            <div class="skills__bar skills__js">
                                
                            </div>
                            <div>
                                <span class="skills__percentage">40%</span>
                            </div>
                        </div>
                        <div class="skills__data">
                            <div class="skills__names">
                                <i class='bx bxs-paint skills__icon'></i>
                                <span class="skills__name">ANGLAIS</span>
                            </div>
                            <div class="skills__bar skills__anglais">
                                
                            </div>
                            <div>
                                <span class="skills__percentage">70%</span>
                            </div>
                        </div>
                    </div>
                    
                    <div>              
                        <img src="assets/img/work3.jpg" alt="" class="skills__img">
                    </div>
                </div>
            </section>
	</main>
    <footer>
        <div>
            <a href="./mentions_legales.html">Mentions légales</a>
            <a href="./politique.html">Politique de confidentialité</a>
        </div>
    </footer>

    <script src="../js/index.js"></script>
    <script src="../js/competences.js"></script>
</body>
</html>