<!DOCTYPE html>
<html lang="fr">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../css/style.css"> 
	<link rel="stylesheet" href="../css/style_contact.css">
    <title>Gauthier Vadot</title>
    <script src="https://code.jquery.com/jquery-3.5.1.js"></script>	
	<script type="text/javascript" src="https://cdn.jsdelivr.net/npm/@emailjs/browser@3/dist/email.min.js"></script>
    <script type="text/javascript">
        (function() {
            // https://dashboard.emailjs.com/admin/account
            emailjs.init('PdMpteGFhA3x4-Y2f');
        })();
    	</script>
    	<script type="text/javascript">
        window.onload = function() {
            document.getElementById('contact_form').addEventListener('submit', function(event) {
                event.preventDefault();
                // generate a five digit number for the contact_number variable
                document.querySelector('input[name=contact_number]').value = Math.random() * 100000 | 0;
                // these IDs from the previous steps
                emailjs.sendForm('contact_service', 'contact_form', document.getElementById("contact_form"))
                    .then(function() {
                        console.log('SUCCESS!');
                    }, function(error) {
                        console.log('FAILED...', error);
                    });
            });
        }
    </script>
</head>
<body>
<div>
	<svg version="1.1" class="phone" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px"
	 viewBox="0 0 408 845" style="enable-background:new 0 0 408 845;" xml:space="preserve">
		<path class="phone--body" d="M363.5,9.5c18.3,0,33.3,14.9,33.3,33.3v723.5c0,18.3-14.9,33.3-33.3,33.3H42c-18.3,0-33.3-14.9-33.3-33.3
			V42.8C8.8,24.5,23.7,9.5,42,9.5H363.5 M363.5-0.5H42C18.2-0.5-1.2,19-1.2,42.8v723.5c0,23.8,19.5,43.3,43.3,43.3h321.5
			c23.8,0,43.3-19.5,43.3-43.3V42.8C406.8,19,387.3-0.5,363.5-0.5L363.5-0.5z"/>
		<path class="phone--screen" d="M372.8,78.5v620h-340v-620H372.8 M382.8,68.5h-360v640h360V68.5L382.8,68.5z"/>
	</svg>
	<h1>TOURNER VOTRE ECRAN</h1>
</div>
    <header class="cd-header">
		<div class="header-wrapper">
			<div class="logo-wrap">
				<a href="../index.html" class="hover-target"><img src="../media/logo.png" alt="logo"></a>
			</div>
			<div class="nav-but-wrap">
				<div class="menu-icon hover-target">
					<span class="menu-icon__line menu-icon__line-left"></span>
					<span class="menu-icon__line"></span>
					<span class="menu-icon__line menu-icon__line-right"></span>
				</div>					
			</div>					
		</div>				
	</header>
	<div class="nav">
		<div class="nav__content">
			<ul class="nav__list">
				<li class="nav__list-item active-nav"><a href="../index.html" class="hover-target">Accueil</a></li>
				<li class="nav__list-item"><a href="./a_propos_de_moi.html" class="hover-target">À PROPOS DE MOI</a></li>
				<li class="nav__list-item"><a href="./competences.html" class="hover-target">COMPÉTENCES</a></li>
				<li class="nav__list-item"><a href="./projets.html" class="hover-target">PROJETS</a></li>
            	<li class="nav__list-item"><a href="./contact.html" class="hover-target">CONTACT</a></li>
			</ul>
		</div>
	</div>
	<main>
	<section class="contact section" id="contact">
                <h2 class="section-title">Contact</h2>

                <div class="contact__container bd-grid">
                    <div class="contact__info">
                        <h3 class="contact__subtitle">EMAIL</h3>
                        <span class="contact__text"><img src="../media/mail.jpg" alt="email"></span>
                        <h3 class="contact__subtitle">TÉLÉPHONE</h3>
                        <span class="contact__text"><img src="../media/tel.jpg" alt="telephone"></span>

                        <h3 class="contact__subtitle">ADRESSE</h3>
                        <span class="contact__text"><img src="../media/adresse.jpg" alt="adresse"></span>

						<h3 class="contact__subtitle">RÉSEAUX SOCIAUX</h3>
                        <span class="contact__text">
							<a href="https://www.linkedin.com/in/gauthier-vadot-46aa8222b/" target="_blank"><img src="../media/LinkedIn.jpg" alt="LinkedIn"></a> <a href="https://www.instagram.com/gauthier_vdt/?hl=fr" target="_blank"><img src="../media/instagram.jpg" alt="Instagram"></a> <a href="https://twitter.com/gauthier_vadot" target="_blank"><img src="../media/twitter.jpg" alt="Twitter"></a>
						</span>
                    </div>

                    <form action="" id="contact_form" class="contact__form">
			    <input type="hidden" name="contact_number">
                        <div class="contact__inputs">		
                            <input type="text" placeholder="Nom" class="contact__input">
                            <input type="mail" placeholder="Email" class="contact__input">
							<input type="objet" placeholder="Objet" class="contact__input">
                        </div>

                        <textarea name="" id="" cols="0" rows="10" class="contact__input"></textarea>

                        <input type="submit" value="Envoyer" class="contact__button">
                    </form>
                </div>
            </section>
	</main>
	<footer>
        <div>
            <a href="./mentions_legales.html">Mentions légales</a>
            <a href="./politique.html">Politique de confidentialité</a>
        </div>
    </footer>

    <script src="../js/index.js"></script>
	<script src="../js/contact.js"></script>
</body>
</html>
