<!DOCTYPE html>
<html lang="fr">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../css/style.css">
    <link rel="stylesheet" href="../css/style_mentions.css">
    <title>Gauthier Vadot</title>
    <script src="https://code.jquery.com/jquery-3.5.1.js"></script>
</head>
<body>
<div>
	<svg version="1.1" class="phone" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px"
	 viewBox="0 0 408 845" style="enable-background:new 0 0 408 845;" xml:space="preserve">
		<path class="phone--body" d="M363.5,9.5c18.3,0,33.3,14.9,33.3,33.3v723.5c0,18.3-14.9,33.3-33.3,33.3H42c-18.3,0-33.3-14.9-33.3-33.3
			V42.8C8.8,24.5,23.7,9.5,42,9.5H363.5 M363.5-0.5H42C18.2-0.5-1.2,19-1.2,42.8v723.5c0,23.8,19.5,43.3,43.3,43.3h321.5
			c23.8,0,43.3-19.5,43.3-43.3V42.8C406.8,19,387.3-0.5,363.5-0.5L363.5-0.5z"/>
		<path class="phone--screen" d="M372.8,78.5v620h-340v-620H372.8 M382.8,68.5h-360v640h360V68.5L382.8,68.5z"/>
	</svg>
	<h1>TOURNER VOTRE ECRAN</h1>
</div>
    <header class="cd-header">
		<div class="header-wrapper">
			<div class="logo-wrap">
				<a href="../index.html" class="hover-target"><img src="../media/logo.png" alt="logo"></a>
			</div>
			<div class="nav-but-wrap">
				<div class="menu-icon hover-target">
					<span class="menu-icon__line menu-icon__line-left"></span>
					<span class="menu-icon__line"></span>
					<span class="menu-icon__line menu-icon__line-right"></span>
				</div>					
			</div>					
		</div>				
	</header>
	<div class="nav">
		<div class="nav__content">
			<ul class="nav__list">
				<li class="nav__list-item active-nav"><a href="../index.html" class="hover-target">Accueil</a></li>
				<li class="nav__list-item"><a href="./a_propos_de_moi.html" class="hover-target">À PROPOS DE MOI</a></li>
				<li class="nav__list-item"><a href="./competences.html" class="hover-target">COMPÉTENCES</a></li>
				<li class="nav__list-item"><a href="./projets.html" class="hover-target">PROJETS</a></li>
            	<li class="nav__list-item"><a href="./contact.html" class="hover-target">CONTACT</a></li>
			</ul>
		</div>
	</div>
    <main>
        <h1>MENTIONS LÉGALES</h1><br><br>
        <p>Conformément aux dispositions des Articles 6-III et 19 de la Loi n°2004-575 du 21 juin 2004 pour la Confiance dans l'économie numérique, dite L.C.E.N., il est porté à la connaissance des utilisateurs et visiteurs du site Gauthier Vadot les présentes mentions légales.</p>
        <br><br><br>
        <p>Le site Le Portfolio est accessible à l'adresse suivante : gauthiervdt.github.io. L'accès et l'utilisation du Site sont soumis aux présentes " Mentions légales" détaillées ci-après ainsi qu'aux lois et/ou règlements applicables.</p>
        <br><br>
        <p>La connexion, l'utilisation et l'accès à ce Site impliquent l'acceptation intégrale et sans réserve de l'internaute de toutes les dispositions des présentes Mentions Légales.</p>
        <br><br><br>
        <h2>ARTICLE 1 - INFORMATIONS LÉGALES</h2>
        <br><br>
        <p>En vertu de l'Article 6 de la Loi n° 2004-575 du 21 juin 2004 pour la confiance dans l'économie numérique, il est précisé dans cet article l'identité des différents intervenants dans le cadre de sa réalisation et de son suivi.</p>
        <br><br>
        <p>Le site Le Portfolio est édité par :</p>
        <br><br>
        <p>Gauthier VADOT</p>
        <br><br>
        <p>ayant son siège social à l'adresse suivante : 6 rue de Lesdiguières 75004 Paris, et immatriculée au numéro suivant :420 700 817 00042.</p>
        <br><br>
        <p>Téléphone : </p> <img src="../media/tel.jpg" alt="telephone">
        <br><br>
        <p>Adresse e-mail : </p><img src="../media/mail.jpg" alt="email">
        <br><br>
        <p>ci après " l'Éditeur "</p>
        <br><br><br>
        <p>Le Directeur de publication est :</p>
        <br><br>
        <p>Gauthier VADOT</p>
        <br><br>
        <p>Adresse e-mail de contact : </p><img src="../media/mail.jpg" alt="email">
        <br><br>
        <p>ci après " le Directeur de publication "</p>
        <br><br><br>
        <p>Le site Le Portfolio est hébergé par :</p>
        <br><br>
        <p>GitHub</p>
        <br><br>
        <p>dont le siège est situé à l'adresse suivante : 88 Colin P. Kelly Jr. St. San Francisco, CA 94107 United States</p>
        <br><br>
        <p>Téléphone : +1 (877) 448-4820</p>
        <br><br>
        <p>Adresse e-mail : privacy@github.com.</p>
        <br><br>
        <p>ci après " l'Hébergeur "</p>
        <br><br><br>
        <p>Sont considérés comme utilisateurs tout les internautes qui naviguent, lisent, visionnent et utilisent le site Gauthier Vadot.</p>
        <br><br>
        <p>ci après les " Utilisateurs "</p>
        <br><br><br>
        <h2>ARTICLE 2 - ACCESSIBILITÉ</h2>
        <p>Le Site est par principe accessible aux utilisateurs 24/24h et 7/7j, sauf interruption, programmée ou non, pour des besoins de maintenance ou en cas de force majeure.</p>
        <br><br>
        <p>En cas d'impossibilité d'accès au Site, celui-ci s'engage à faire son maximum afin d'en rétablir l'accès. Le Site ne saurait être tenu pour responsable de tout dommage, quelle qu'en soit la nature, résultant de son indisponibilité.</p>
        <br><br><br>
        <h2>ARTICLE 3 - COLLECTE DE DONNÉES ET LOI INFORMATIQUE ET LIBERTÉS</h2>
        <p>Ce site est déclaré à la Commission Nationale Informatique et Libertés (CNIL) sous le numéro 2005522.</p>
        <br><br>
        <p>En outre, il est conforme aux dispositions de la Loi 78-17 du 6 janvier 1978 relative à l'informatique, aux fichiers et aux libertés. En vertu de celle-ci l'Utilisateur bénéficie notamment d'un droit d'opposition (art. 32 et 38), d'accès (art. 38 et 39) et de rectification (art. 40) des données le concernant.</p>
        <br><br>
        <p>Pour faire usage de celui-ci, l'Utilisateur doit s'adresser à l'Éditeur en le contactant à l'adresse suivante : </p> <img src="../media/mail.jpg" alt="email"><p> , ou par courrier adressé au siège social de l'Éditeur en précisant ses nom, prénom(s), adresse et adresse(s) e-mail.</p>
        <br><br><br>
        <h2>ARTICLE 4 - LOI APPLICABLE ET JURIDICTION</h2>
        <p>Les présentes Mentions Légales sont régies par la loi française. En cas de différend et à défaut d'accord amiable, le litige sera porté devant les tribunaux français conformément aux règles de compétence en vigueur.</p>
        <br><br><br>
        <h2>ARTICLE 5 - CONTACT</h2>
        <p>Pour tout signalement de contenus ou d'activités illicites, l'Utilisateur peut contacter l'Éditeur à l'adresse suivante : </p> <img src="../media/mail.jpg" alt="email"><p>, ou par courrier recommandé avec accusé de réception adressé à l'Éditeur aux coordonnées précisées dans les présentes mentions légales.</p>
    
    </main>
	<footer>
        <div>
            <a href="./mentions_legales.html">Mentions légales</a>
            <a href="./politique.html">Politique de confidentialité</a>
        </div>
    </footer>

    <script src="../js/index.js"></script>
    <script src="../js/mentions.js"></script>
</body>
</html>
