<!DOCTYPE html>
<html lang="fr">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../css/style.css">
	<link rel="stylesheet" href="../css/style_politique.css">
    <title>Gauthier Vadot</title>
    <script src="https://code.jquery.com/jquery-3.5.1.js"></script>
</head>
<body>
<div>
	<svg version="1.1" class="phone" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px"
	 viewBox="0 0 408 845" style="enable-background:new 0 0 408 845;" xml:space="preserve">
		<path class="phone--body" d="M363.5,9.5c18.3,0,33.3,14.9,33.3,33.3v723.5c0,18.3-14.9,33.3-33.3,33.3h32c-18.3,0-33.3-14.9-33.3-33.3
			V42.8C8.8,24.5,23.7,9.5,42,9.5h363.5 M363.5-0.5h32C18.2-0.5-1.2,19-1.2,42.8v723.5c0,23.8,19.5,43.3,43.3,43.3h321.5
			c23.8,0,43.3-19.5,43.3-43.3V42.8C406.8,19,387.3-0.5,363.5-0.5L363.5-0.5z"/>
		<path class="phone--screen" d="M372.8,78.5v620h-340v-620h372.8 M382.8,68.5h-360v640h360V68.5L382.8,68.5z"/>
	</svg>
	<h1>TOURNER VOTRE ECRAN</h1>
</div>
    <header class="cd-header">
		<div class="header-wrapper">
			<div class="logo-wrap">
				<a href="../index.html" class="hover-target"><img src="../media/logo.png" alt="logo"></a>
			</div>
			<div class="nav-but-wrap">
				<div class="menu-icon hover-target">
					<span class="menu-icon__line menu-icon__line-left"></span>
					<span class="menu-icon__line"></span>
					<span class="menu-icon__line menu-icon__line-right"></span>
				</div>					
			</div>					
		</div>				
	</header>
	<div class="nav">
		<div class="nav__content">
			<ul class="nav__list">
				<li class="nav__list-item active-nav"><a href="../index.html" class="hover-target">Accueil</a></li>
				<li class="nav__list-item"><a href="./a_propos_de_moi.html" class="hover-target">À PROPOS DE MOI</a></li>
				<li class="nav__list-item"><a href="./competences.html" class="hover-target">COMPÉTENCES</a></li>
				<li class="nav__list-item"><a href="./projets.html" class="hover-target">PROJETS</a></li>
            	<li class="nav__list-item"><a href="./contact.html" class="hover-target">CONTACT</a></li>
			</ul>
		</div>
	</div>
    <main>
	<h1>POLITIQUE DE CONFIDENTIALITÉ</h1><br><br>

        <h2>Politique relative aux données personnelles</h2>
        <p>En conformité avec le Règlement Général sur la Protection des Données (RGPD), les utilisateurs du site peuvent contacter le délégué à la protection des données personnelles par e-mail à l’adresse </p><img src="../media/mail.jpg" alt="email"><p>. Le directeur de publication s’engage à préserver la confidentialité des informations fournies en ligne par l’internaute. </p>
        <br><br><br>
        
        <h3>Données personnelles collectées</h3>
        <p>Ce site collecte des données personnelles uniquement lorsque vous utilisez le formulaire présent sur la page contact de ce site internet. A ce titre il est possible de collecter les informations suivantes : nom, prénom et adresse e-mail.</p>
        
        <br><br>
        <h3>Utilisation des données personnelles collectées</h3>
        <p>Les données collectées peuvent être utilisées pour l'envoi par e-mail d'éventuelles offres commerciales ou de demande de travail. </p>
        <br><br>

        <h3>Transmission de vos données personnelles</h3>
        <p>Aucune de vos données ne sont divulguées, vendues, partagées avec des tiers. Les données personnelles peuvent être amenées à être partagées mais uniquement à votre demande lorsque vous faites appel à un tiers ou à un service partenaire proposé. </p>
        <br><br>
        
        <h3>Les droits que vous avez sur vos données</h3>
        <p>Dans le cadre du RGPD, vous bénéficiez d’un droit d’accès, de portabilité, de rectification, d’effacement et vous avez la possibilité de vous opposer au traitement de vos données personnelles ou de retirer votre consentement à tout moment. Pour toute demande concernant les données personnelles, veuillez-vous adresser au délégué à la protection des données par e-mail à l’adresse </p><img src="../media/mail.jpg" alt="email"><p>. </p>
        <br><br><br>
    </main>
	<footer>
        <div>
            <a href="./mentions_legales.html">Mentions légales</a>
            <a href="./politique.html">Politique de confidentialité</a>
        </div>
    </footer>

    <script src="../js/index.js"></script>
    <script src="../js/politique.js"></script>
</body>
</html>
