<!DOCTYPE html>
<html lang="fr">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../css/style.css">
    <link rel="stylesheet" href="../css/style_projets.css">
    <title>Gauthier Vadot</title>
    <script src="https://code.jquery.com/jquery-3.5.1.js"></script>
</head>
<body>
<div>
	<svg version="1.1" class="phone" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px"
	 viewBox="0 0 408 845" style="enable-background:new 0 0 408 845;" xml:space="preserve">
		<path class="phone--body" d="M363.5,9.5c18.3,0,33.3,14.9,33.3,33.3v723.5c0,18.3-14.9,33.3-33.3,33.3H42c-18.3,0-33.3-14.9-33.3-33.3
			V42.8C8.8,24.5,23.7,9.5,42,9.5H363.5 M363.5-0.5H42C18.2-0.5-1.2,19-1.2,42.8v723.5c0,23.8,19.5,43.3,43.3,43.3h321.5
			c23.8,0,43.3-19.5,43.3-43.3V42.8C406.8,19,387.3-0.5,363.5-0.5L363.5-0.5z"/>
		<path class="phone--screen" d="M372.8,78.5v620h-340v-620H372.8 M382.8,68.5h-360v640h360V68.5L382.8,68.5z"/>
	</svg>
	<h1>TOURNER VOTRE ECRAN</h1>
</div>

<div class="navOff">
    <span>
        <img src="https://pbs.twimg.com/media/Fez2vFSWYAI6b7V?format=jpg&name=4096x4096" alt="Logo_MouDart">
        <p>Logo pour une société fictivement créée pour un projet Universitaire. Cette société, se nommant MouDart, avait pour but de créer des sites internet et une communication pour des commanditaires. Au sein de ce groupe, je fus chef de projet et graphiste.</p>
    </span>
    <div class="lul-icon cross">
		<span></span> 
    </div>
</div>
<div class="navOff">
    <span>
        <img src="https://pbs.twimg.com/media/Fez2xZAWYAwJYK6?format=jpg&name=4096x4096" alt="Logo_Carole_BOSSER">
        <p>Logo pour la création d'une communication d'une assistante maternelle. Le commanditaire avait commandé à la société MouDart, une communication sur les réseaux sociaux et un site internet. Étant chef de projet et graphiste de la société, j'ai créé ce logo et organisé mon équipe pour pouvoir mener à bien ce projet.</p>
    </span>
    <div class="lul-icon cross">
		<span></span> 
    </div>
</div>
<div class="navOff">
    <span>
        <img src="https://pbs.twimg.com/media/Fez21b5WYAIs2jB?format=jpg&name=4096x4096" alt="Post_publicitaire_nourriture_chat">
        <p>Ce projet Universitaire, avait pour but de détourner une marque en indiquant, d'une façon humoristique, l'inverse de ce qu'elle veut vendre. De ce fait, la réalisation de ce photomontage met en évidence une marque de nourriture pour chat, qui fait grossir les félins qui en consomment. C'est bien évidemment l'inverse que propose et recherche ce genre de marque.</p>
    </span>
    <div class="lul-icon cross">
		<span></span> 
    </div>
</div>
<div class="navOff">
    <div>
        <img src="https://pbs.twimg.com/media/Fe9WvYHXoAAGP3p?format=jpg&name=large" alt="Charte_graphique">
        <div>
            <p>Charte graphique d'une entreprise fictive de livraison de repas à domicile.</p>
            <a href="https://drive.google.com/file/d/14J7d7124Qi5vjeZZlesCQ4KoFfw9k6s5/view?usp=sharing" target="_blank">Télécharger</a>
        </div>
    </div>
    <div class="lul-icon cross">
		<span></span> 
    </div>
</div>

    <header class="cd-header">
		<div class="header-wrapper">
			<div class="logo-wrap">
				<a href="../index.html" class="hover-target"><img src="../media/logo.png" alt="logo"></a>
			</div>
			<div class="nav-but-wrap">
				<div class="menu-icon hover-target">
					<span class="menu-icon__line menu-icon__line-left"></span>
					<span class="menu-icon__line"></span>
					<span class="menu-icon__line menu-icon__line-right"></span>
				</div>					
			</div>					
		</div>				
	</header>
	<div class="nav">
		<div class="nav__content">
			<ul class="nav__list">
				<li class="nav__list-item active-nav"><a href="../index.html" class="hover-target">Accueil</a></li>
				<li class="nav__list-item"><a href="./a_propos_de_moi.html" class="hover-target">À PROPOS DE MOI</a></li>
				<li class="nav__list-item"><a href="./competences.html" class="hover-target">COMPÉTENCES</a></li>
				<li class="nav__list-item"><a href="./projets.html" class="hover-target">PROJETS</a></li>
            	<li class="nav__list-item"><a href="./contact.html" class="hover-target">CONTACT</a></li>
			</ul>
		</div>
	</div>
    <main>
            <section class="work section" id="work">
                <h2 class="section-title">Projets</h2>
                
                <div class="work__container bd-grid"> 
                <h3>Projets Universitaire</h3>
                </div>
                <div class="work__container bd-grid">
                    <div class="work__img">
                        <img src="https://pbs.twimg.com/media/Fez2vFSWYAI6b7V?format=jpg&name=4096x4096" alt="Logo_MouDart">
                    </div>
                    <div class="work__img">
                        <img src="https://pbs.twimg.com/media/Fez2xZAWYAwJYK6?format=jpg&name=4096x4096" alt="Logo_Carole_BOSSER">
                    </div>
                    <div class="work__img">
                        <img src="https://pbs.twimg.com/media/Fez21b5WYAIs2jB?format=jpg&name=4096x4096" alt="Post_publicitaire_nourriture_chat">
                    </div>
                    <div class="work__img">
                        <img src="https://pbs.twimg.com/media/Fe9WvYHXoAAGP3p?format=jpg&name=large" alt="">
                    </div>
                </div>

                <div class="work__container bd-grid"> 
                <h3>Projets Personnels</h3>
                </div>
                <div class="work__container bd-grid">
                    <div class="work__img">
                        <img src="https://pbs.twimg.com/media/Fe4woxPWAAgvMkp?format=jpg&name=4096x4096" alt="dessin_one_piece">
                    </div>
                    <div class="work__img">
                        <img src="https://pbs.twimg.com/media/Fe4wrS_WABAChbE?format=jpg&name=4096x4096" alt="dessin_jeune_femme">
                    </div>
                </div>
                </div>
            </section>
</main>
<footer>
        <div>
            <a href="./mentions_legales.html">Mentions légales</a>
            <a href="./politique.html">Politique de confidentialité</a>
        </div>
</footer>
		

    <script src="../js/index.js"></script>
    <script src="../js/projets.js"></script>
</body>
</html>
